# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.egg-info/
.env
.venv/
venv/
ENV/
env/
*.sqlite3

# ==========================
# Jupyter Notebook
# ==========================
.ipynb_checkpoints
*.nbconvert.ipynb

# ==========================
# VSCode
# ==========================
.vscode/
*.code-workspace

# ==========================
# Dados
# ==========================
data/raw/
data/interim/
data/processed/
*.csv
*.xlsx
*.json
*.parquet

# ==========================
# Sistema
# ==========================
.DS_Store
Thumbs.db
